.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-content {
  padding: 10px;
}

ul.pagination {
  width: auto;
  margin: 0 auto;
  padding: 0;
  list-style: outside none none;
}

ul.pagination > li {
  display: inline-block;
  vertical-align: middle;
}

ul.pagination > li:first-child {
  margin-right: 30px;
}

ul.pagination > li:first-child button:before {
  content: '<';
  font-size: 30px;
}

ul.pagination > li:last-child button:before {
  content: '>';
  font-size: 30px;
}

ul.list-items {
  list-style: outside none none;
  margin: 10px 0 0;
  padding: 0;
}

ul.list-items > li {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0px 5px 10px;
  width: 25%;
}
